<script setup lang="ts">
useHead({
  titleTemplate: (titleChunk) => {
    return titleChunk ? `${titleChunk} - Nuxt app` : "Nuxt app";
  },
});
</script>

<template lang="pug">
NuxtLayout
  NuxtPage
</template>
