<!-- https://nuxt.com/docs/guide/directory-structure/error -->
<script setup lang="ts">
import type { NuxtError } from "#app";

const props = defineProps({
  error: {
    type: Object as () => NuxtError,
    default: () => {},
  },
});

useHead({
  titleTemplate: (titleChunk) => {
    return titleChunk ? `${titleChunk} - Nuxt app` : "Nuxt app";
  },
});

useSeoMeta({
  title: props.error.message,
});
</script>

<template lang="pug">
div
  h1 {{ error.statusCode }}
  NuxtLink(to="/") Go back home
</template>
