<script lang="ts" setup>
useSeoMeta({
  title: "Home",
  ogTitle: "Home page",
  description: "This is my amazing home page.",
  ogDescription: "This is my amazing home page.",
  ogImage: "https://example.com/image.png",
  twitterCard: "summary_large_image",
});
const switchLocalePath = useSwitchLocalePath();
</script>

<template lang="pug">
div
  div
    NuxtLink(:to="switchLocalePath('es')") Español
    NuxtLink(:to="switchLocalePath('en')") English

  p {{ $t("welcome") }} Page: foo
</template>

<style scoped></style>
